@import 'code-club';
@import url(https://fonts.googleapis.com/css?family=Muli);

.home header.header {
  height: 260px;
  margin-top: 30px;
}

//
// .skycom_container {
//   //Hack for masthead to 1140px width
//   max-width: 1140px;
// }
//
// body {
//   font: 16px/20px SkyTextRegular,Helvetica,Arial,sans-serif;
//   color: #333;
// }
//
// .katana-container {
//   margin: 0 auto 30px;
//   max-width: 1140px;
//   width: 94.05941%;
//
//   h1 {
//     font-size: 1.875;
//     font-weight: normal;
//   }
//
//   h2 {
//     border-bottom: 1px solid #eee;
//     font-size: 1.875em;
//     font-weight: 400px;
//     line-height: 32px;
//     margin: 0 0 .5em;
//     padding-bottom: .5em;
//   }
//
//   h3.secondary {
//     color: #666;
//     font-size: 1.5em;
//     font-weight: 400;
//     line-height: 1;
//     margin: 20px 0 0;
//    }
//
//   p {
//     line-height: 20px;
//     margin-top: 0;
//    }
//
//   a {
//     color: #0070a5;
//     text-decoration: underline;
//    }
// }
