<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{{title}}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="app-id=com.bskyb.skyservice" name="google-play-app">
  <meta content="app-id=880575127" name="apple-itunes-app">
  {{{newRelicBrowserTracking}}}
  <link rel="stylesheet" property="stylesheet" href="/assets/css/styles.css">

  <!-- Picture element HTML5 shiv & polyfill -->
  <script>
  document.createElement( "picture" );
  </script>
  <script src="/assets/js/lib/picturefill.min.js" async></script>
  {{#if features.isTargetEnabled}}
  <script type="text/javascript" src="/assets/js/lib/mbox.js"></script>
  {{/if}}
</head>
<body class="home">
  <script type="text/javascript">
  window.STORE = {{{json store}}};
  </script>
  <div class="katana-container">
    <div id="app">{{{content}}}</div>
  </div>
  <script type="text/javascript" src="//analytics.global.sky.com/sky-tags/0.4.4/sky-tags.min.js"></script>
  <script>
    (function(){
      var dataLayer = window.dataLayer = window.dataLayer || [];
      dataLayer.snippetVersion = '0.1.0';

      window.dataLayer.push({
        config: {
          adobe: {
            account: '{{{analyticsAcct}}}',
            variableMappings: {
              'breadcrumb': {
                variables: ['prop59'],
              },
              'contentType': {
                variables: ['prop20'],
              },
            },
            site: 'helpcentre',
            contentType: 'katana-content-type',
          },
        },
      });
    })();
  </script>
  <script type="text/javascript" src="/assets/js/bundle.js"></script>
  <script type="text/javascript" src="https://web-toolkit.global.sky.com/static/lib/jquery-1.11.3.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{googleAnalyticsId}}', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
