#smartbanner {
  position: absolute;
  left: 0;
  top: -82px;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  height: 78px;
  font-family: sans-serif;
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #cdcdcd 100%);
  background-image: -ms-linear-gradient(top, #F4F4F4 0%, #CDCDCD 100%);
  background-image: -moz-linear-gradient(top, #F4F4F4 0%, #CDCDCD 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 9998;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  -webkit-text-size-adjust: none;
}

#smartbanner, html.sb-animation {
  -webkit-transition: all .3s ease;
}

#smartbanner .sb-container {
  margin: 0 auto;
}

#smartbanner .sb-close {
  position: absolute;
  left: 5px;
  top: 5px;
  display: block;
  border: 2px solid #fff;
  width: 14px;
  height: 14px;
  font-family: 'ArialRoundedMTBold', Arial;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #fff;
  background: #070707;
  text-decoration: none;
  text-shadow: none;
  border-radius: 14px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-font-smoothing: subpixel-antialiased;
}

#smartbanner .sb-close:active {
  font-size: 13px;
  color: #aaa;
}

#smartbanner .sb-icon {
  position: absolute;
  left: 30px;
  top: 10px;
  display: block;
  width: 57px;
  height: 57px;
  background-size: cover;
  background-color: rgba(0,0,0,0);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border: 1px solid #797979;
  box-shadow: none;
}

#smartbanner.no-icon .sb-icon {
  display: none;
}

#smartbanner .sb-info {
  position: absolute;
  left: 98px;
  top: 18px;
  width: 44%;
  font-size: 11px;
  line-height: 1.2em;
  color: #6a6a6a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

#smartbanner #smartbanner.no-icon .sb-info {
  left: 34px;
}

#smartbanner .sb-info strong {
  display: block;
  font-size: 13px;
  color: #4d4d4d;
  line-height: 18px;
}

#smartbanner .sb-info > span {
  display: block;
}

#smartbanner .sb-info em {
  font-style: normal;
  text-transform: uppercase;
}

#smartbanner .sb-button {
  position: absolute;
  right: 20px;
  top: 24px;
  border: 1px solid #bfbfbf;
  padding: 0 10px;
  min-width: 10%;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  color: #6a6a6a;
  background: -webkit-linear-gradient(top, #efefef 0%, #dcdcdc 100%);
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6), 0 1px 0 rgba(255, 255, 255, 0.7) inset;
}

#smartbanner .sb-button:active, #smartbanner .sb-button:hover {
  background: -webkit-linear-gradient(top, #dcdcdc 0%, #efefef 100%);
}

#smartbanner .sb-icon.gloss:after {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 50%;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.2) 100%);
  border-radius: 10px 10px 12px 12px;
}

#smartbanner.android {
  border-color: #212228;
  background: #ffffff;
  border-bottom: 5px solid #88B131;
  box-shadow: none;
}

#smartbanner strong {
  font-family: sans-serif;
  font-weight: bold;
}


#smartbanner.android .sb-close {
  border: 0;
  width: 17px;
  height: 17px;
  line-height: 17px;
  color: #b1b1b3;
  background: #fff;
  text-shadow: none;
  box-shadow: none;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 25px;
}

#smartbanner.android .sb-close:active {
  color: #eee;
}

#smartbanner.android .sb-info {
  color: #3d3d3d;
}

#smartbanner.android .sb-info strong {
  color: #3d3d3d;
}

#smartbanner.android .sb-button {
  min-width: 12%;
  padding: 0;
  color: #fff;
  background: none;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

#smartbanner.android .sb-button span {
  text-align: center;
  display: block;
  padding: 0 10px;
  background-color: #99cc00;
  text-transform: none;
  text-shadow: none;
  box-shadow: none;
}

#smartbanner.android .sb-button:active, #smartbanner.android .sb-button:hover {
  background: none;
}

#smartbanner.windows .sb-icon {
  border-radius: 0px;
}